<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Micro-acting{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <div class="progress-bar" id="progressBar"></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sources">Data</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main id="main-content">
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>
    <footer>
        <h3>Thank you for visiting this website.</h3>
<!-- <h3>Let's create a sustainable future together.</h3> 
        <button id="footer-btn"><a href="/action" class="action-button">I'm in</a></button>-->
        <p><a href="/tech">Learn about technology stack utilized for this website</a></p>
        <p><a href="/contact">Contact author of the website</a></p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} 
    {% endblock %}
</body>
</html>
