{% extends "base.html" %}

{% block title %}About - My Website{% endblock %}

{% block content %}
    <h1>Sources</h1>
    <p>Here you can find the sources used to create this website and the information on it.</p>
    <h2>Plastic Pollution</h2>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
    <h2>Microplastics</h2>
    <ul>
        <li><p>Richard C. Thompson et al. ,Twenty years of microplastic pollution research—what have we learned?.Science386,eadl2746(2024).DOI:10.1126/science.adl2746</p></li>
        <li></li>
        <li></li>
    </ul>
    
    <h2>Health Risks</h2>
    <ul>
        <li><p>Nihart, A.J., Garcia, M.A., El Hayek, E. et al. Bioaccumulation of microplastics in decedent human brains. Nat Med 31, 1114–1119 (2025). https://doi.org/10.1038/s41591-024-03453-1</p></li>
        <li></li>
        <li></li>
    </ul>

    <h2>Actions</h2>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
{% endblock %}